body{
    background-color: skyblue;
}
h1{
    height: 50%;
    width: 50%;
   
}
/* src/App.css */
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  .MuiCard-root {
    background-color: #1e1e1e;
  }
  
  .MuiChip-root {
    margin-top: 10px;
  }
  